/* ::placeholder {
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(167.77deg, #FFFFFF 25.64%, #DDFFFF 122.6%);
}

span {
  vertical-align: middle;
}


.menu_btn {
  width: 58%;
  height: 8%;
  z-index: 100;
}

.ui-loader {
  visibility: hidden;
}

button {
  cursor: pointer;
}

@keyframes teamAnimation {
  from {
    border: transparent;
  }

  to {
    border: 1px solid gold;
  }
}

#pointReward {
  animation-name: coinGiftAnimation;
  animation-duration: 1s;
}

/* @media screen and (max-height: 749px) and (min-width: 749px) {
  span {
    font-size: 20px !important;
  }
} */

#Content {
  background: linear-gradient(167.77deg, #FFFFFF 25.64%, #DDFFFF 122.6%);
}

.btnLeague {
  width: 30%;
  height: 13%;
}

input {
  /* border-radius: 36px;
  border: transparent;
  padding: 20px;
  background: transparent;
  color: white;
  font-size: 20px;
  Outline: none; */
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 163px 0px 10px;

  width: 297px;
  height: 39px;

  border: 1px solid #C5C5C5;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

input:autofill {
  border: 3px solid transparent;
}

.popup {
  width: 76%;
  height: 25%;
  padding: 2%;
  color: white;
  font-size: 32px;
  border: 3px white solid;
  border-radius: 36px;
}

.popup img {
  border-radius: 36px;
}

.popup .error {
  color: #ffffff;
  font-size: 24px;
}

.popup .success {
  color: gold;
  font-size: 24px;
}

button:hover {
  background-color: #4285F4;
  color: white;
}

button span {
  margin-right: 10px;
}

.popupResult {
  width: 76%;
  height: 25%;
  padding: 2%;
  color: white;
  font-size: 28px;
}

.result {
  height: 15%;
}

.char {
  width: 6%;
  height: 100%;
}

#divDialog {
  background: black;
  opacity: 0.7;
}

#btnRegister {
  width: 40%;
  height: 6%;
}